name: Build Kivy APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'

    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y \
          git zip unzip openjdk-8-jdk \
          autoconf libtool pkg-config \
          zlib1g-dev libncurses5-dev libtinfo5 \
          libffi-dev libssl-dev cmake

    - name: Install Python deps
      run: |
        python -m pip install --upgrade pip
        pip install cython==0.29.33
        pip install buildozer

    - name: Build APK
      run: |
        yes | buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
