name: Build Kivy APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip \
            openjdk-17-jdk \
            autoconf libtool pkg-config \
            zlib1g-dev \
            libncurses5-dev libncursesw5-dev libtinfo6 \
            cmake libffi-dev libssl-dev

      - name: Install Python tools
        run: |
          python -m pip install --upgrade pip
          pip install --user Cython==0.29.19 virtualenv buildozer

      - name: Add local bin to PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Init buildozer
        run: |
          buildozer init
          sed -i 's/^requirements = .*/requirements = python3,kivy/' buildozer.spec
          sed -i 's/^# android.api = .*/android.api = 31/' buildozer.spec
          sed -i 's/^# android.minapi = .*/android.minapi = 21/' buildozer.spec
          sed -i 's/^# android.arch = .*/android.arch = armeabi-v7a/' buildozer.spec

      - name: Force NDK r25b
        run: |
          echo "ANDROID_NDK_HOME=$HOME/.buildozer/android/platform/android-ndk-r25b" >> $GITHUB_ENV
          echo "ANDROID_NDK_ROOT=$HOME/.buildozer/android/platform/android-ndk-r25b" >> $GITHUB_ENV

      - name: Accept licenses
        run: yes | sdkmanager --licenses || true

      - name: Build APK
        run: yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: kivy-apk
          path: bin/*.apk
